<form action="{{ path('app.admin.model.delete', {id:model.id}) }}" method="POST" onsubmit="return confirm('Êtes vous sur de vouloir suprimer ce Model')">
        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ model.id) }}">
        <button type="submit" class="btn btn-danger">Suprimer</button>
</form>